@using System.Globalization;
@using TicketMonster.Web.ViewModels.User;
@model OrderDetailsViewModel

@{
    ViewData["Title"] = "EventDetails";
    ViewBag.Navbar = true;
    string mh = @Model.Order.EventDate > DateTime.Now ? "mh-15" : "mh-20";
}

@section topCSS{
    <link href="~/css/user/eventdetails.css" rel="stylesheet" asp-append-version="true" />
}

@section endJS{
    <script>var VenueSvg = `@Html.Raw(Model.Order.VenueSvg)`</script>
    <script src="~/js/user/eventdetails.js" asp-append-version="true"></script>
}

<article class="container mt-5">
    <!-- breadcrumb -->
    <nav style="--bs-breadcrumb-divider:'⇝'" class="my-4">
        <div class="breadcrumb">
            <a asp-action="Account" class="breadcrumb-item text-dark-emphasis text-decoration-none small">My Account</a>
            <a asp-action="Events" class="breadcrumb-item text-dark-emphasis text-decoration-none small">My Events</a>
            <small class="breadcrumb-item text-dark">Event Details</small>
        </div>
    </nav>
    <!-- Event Details -->
    <h3 class="mb-4 fw-semibold d-none d-lg-block">Event Details</h3>
    <section class="d-flex flex-wrap my-4 gap-lg-5" id="app">
        <article class="col-12 col-lg-4 h-100 sticky-lg-top">
            <!-- event detail -->
            <section class="card shadow-sm border border-sm-0">
                <h3 class="mb-4 d-lg-none text-truncate-2">@Model.Order.EventName</h3>
                <div class="d-flex flex-lg-column">
                    <section class="col-3 col-md-4 col-lg-12">
                        <img src="@Model.Order.EventPic"
                             class="w-100 object-fit-cover ratio-1024x576">
                    </section>
                    <section class="col-9 col-md-8 col-lg-12 card-body d-flex flex-column border-bottom border-sm-0 gap-2 ps-md-4 ps-lg-3 pt-0 pt-lg-3">
                        <h5 class="fs-6 d-none d-lg-block text-truncate-2">@Model.Order.EventName</h5>
                        <i class="fa-regular fa-calendar text-body-tertiary">
                            <small class="badge text-dark-emphasis ms-1">
                                @Model.Order.EventDate.ToString("ddd · MMM d · HH:mm", new CultureInfo("en-US"))
                            </small>
                        </i>
                        <i class="fa-solid fa-location-crosshairs text-body-tertiary small">
                            <a asp-controller="Lineup" asp-action="LineupView" asp-route-id="">
                                <small class="badge text-primary ms-1">@Model.Order.VenueName</small>
                            </a>
                        </i>
                        <i class="fa-regular fa-map text-body-tertiary fs-7">
                            <a href="https://www.google.com/maps?q=@Model.Order.VenueName" class="text-decoration-none">
                                <small class="badge text-start text-wrap text-primary d-inline">
                                    @Model.Order.VenueLocation
                                </small>
                            </a>
                        </i>
                    </section>
                    <section class="d-none d-lg-flex justify-content-between align-items-center my-2 p-2 px-3">
                        <small>Share You’re Going</small>
                        <div class="d-flex gap-2">
                            <a href="https://m.facebook.com/" class="text-decoration-none text-body-tertiary badge border rounded-circle ratio-1x1">
                                <i class="fa-brands fa-facebook-f pt-1" style="width:.75rem"></i>
                            </a>
                            <a href="https://twitter.com/i/flow/login" class="text-decoration-none text-body-tertiary badge border rounded-circle ratio-1x1">
                                <i class="fa-brands fa-x-twitter pt-1"></i>
                            </a>
                            <a href="https://accounts.google.com/" class="text-decoration-none text-body-tertiary badge border rounded-circle ratio-1x1">
                                <i class="fa-regular fa-envelope pt-1"></i>
                            </a>
                        </div>
                    </section>
                </div>
            </section>
            <!-- help -->
            <section class="d-none d-lg-block border rounded shadow-sm my-3 px-4 py-3">
                <h3 class="fw-semibold fs-5 mt-2 mb-3">Need Help With Your Order?</h3>
                <span class="d-block">Use Chat to quickly find the answers you need.</span>
                <button class="btn border-0 mt-3 mb-2 p-0" @@click="lineMe()">
                <img src="https://scdn.line-apps.com/n/line_add_friends/btn/zh-Hant.png" height="30" border="0" class="opacity-75">
                </button>
            </section>
        </article>
        <article class="col-1 flex-grow-1">
            <section class="border rounded shadow-sm my-3 mb-5 mt-lg-0 p-3 bg-purplr bg-purple border-purple">
                <!-- message -->
                <span class="d-block badge text-start mt-2 mb-3 p-0 fs-7 text-purple">
                    Your Phone Is Your
                    Ticket
                </span>
                <div class="d-flex align-items-center gap-3">
                    <img src="https://cdn2.iconfinder.com/data/icons/scenarium-vol-19/128/019_033_qr_code_scan_smartphone_mobile-512.png"
                         width="44" class="object-fit-contain m-1">
                    <small class="">
                        Sign In to Ticketmaster on your phone and go to My Tickets. Your tickets will be
                        there for you!
                    </small>
                </div>
            </section>
            <section class="border rounded shadow-sm">
                @if (Model.Order.EventDate > DateTime.Now)
                {
                    <div class="d-flex">
                        <!-- Transfer -->
                        <button class="col-6 col-lg-3 btn btn-outline-light rounded-0" @@click="transferTickets(@Model.Order.Id)">
                            <img src="https://cdn3.iconfinder.com/data/icons/leto-finance-money-2/64/money_transaction_flow_transfer-38-1024.png"
                                 width="40" class="object-fit-contain mb-1">
                            <span class="d-block text-primary fs-7">Transfer Tickets</span>
                        </button>
                        <!-- Sell -->
                        @* <button class="col-6 col-lg-3 btn btn-outline-light rounded-0" @@click="sellTickets()">
                            <img src="https://cdn3.iconfinder.com/data/icons/leto-finance-money-1/64/coin_cash_flow_transaction-1024.png" width="44" class="object-fit-contain">
                            <span class="d-block text-primary fs-7">Sell Tickets</span>
                        </button> *@
                    </div>
                }
                <div class="p-4">
                    <!-- seat detail -->
                    <section class="d-flex justify-content-between">
                        <h3 class="fs-5">My SafeTix™ <span class="fw-normal fs-6">(@Model.OrderDetails.Count())</span></h3>
                        <div class="text-primary">
                            <i class="fa-solid fa-map-pin small"></i>
                            <button class="btn badge border-0 text-primary pe-0 ps-1" @@click="viewMap()">View map</button>
                        </div>
                    </section>
                    
                    <section class="overflow-auto @mh">
                        @foreach (var s in Model.OrderDetails)
                        {
                            @await Html.PartialAsync("Partial/_Seats", s)
                        }
                    </section>
                    <!-- message -->
                    <small>Can’t find something you’ve purchased? Check your order confirmation email or <a asp-action="Events" class="text-decoration-none">View Your Orders</a>.</small>
                </div>
            </section>
            <section class="my-4 p-2 d-flex flex-column gap-3">
                <!-- Delivery -->
                <div class="p-2 border-bottom">
                    <span class="fw-semibold d-inline-block col-12 col-md-3">Ticket Delivery</span>
                    <span class="text-dark-emphasis fs-7">Mobile</span>
                </div>
                <!-- Order -->
                <div class="p-2 border-bottom">
                    <span class="fw-semibold d-inline-block col-12 col-md-3">Order #</span>
                    <span class="text-dark-emphasis fs-7">
                        @await Html.PartialAsync("Partial/_OrderId", Model.Order) <a asp-action="Receipt" asp-route-id="@Model.Order.Id" class="text-decoration-none small"> View Receipt</a>
                    </span>
                </div>
            </section>
        </article>
    </section>
    <!-- chat -->
    <a href="https://lin.ee/etG3Xui" class="position-fixed bottom-0 end-0 m-4"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/zh-Hant.png" alt="加入好友" height="36" border="0"></a>
</article>